---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ .Values.app }}
  name: {{ .Values.app }}-secret
type: Opaque
stringData:
  MILVUS_DB_PATH: {{ .Values.milvusDbPath }}
  FMS_ORCHESTRATOR_URL: {{ .Values.fmsOchestratorUrl }}
{{- range .Values.models }}
{{- if .url }}
  {{ include "rag-lsd.envVarName" .name }}_URL: "{{ .url }}"
{{- else }}
  {{ include "rag-lsd.envVarName" .name }}_URL: "{{ "http://" }}{{ .name }}-predictor:8080/v1"
{{- end }}
  {{ include "rag-lsd.envVarName" .name }}_MODEL: "{{ .name }}"
{{- if .api_token }}
  {{ include "rag-lsd.envVarName" .name }}_API_TOKEN: "{{ .api_token }}"
{{- end }}
{{- if .tlsVerify }}
  {{ include "rag-lsd.envVarName" .name }}_TLS_VERIFY: "{{ .tlsVerify }}"
{{- end }}
{{- if .maxTokens }}
  {{ include "rag-lsd.envVarName" .name }}_MAX_TOKENS: "{{ .maxTokens }}"
{{- end }}
{{- end }}